<h2>Jeśli masz jakieś pytania bądź nie jestes zdecydowany zapraszamy do kontaktu.</h2>
<div class="container">
  <div class="form-container">
    <form [formGroup]="profileForm">
     
        <mat-form-field>
          <mat-label for="first-name">Imię: </mat-label>
          <input matInput id="first-name" type="text" formControlName="firstName">
        </mat-form-field>

        <mat-form-field>
          <mat-label for="first-name">Nazwisko: </mat-label>
          <input matInput id="last-name" type="text" formControlName="lastName">
        </mat-form-field>

        <mat-form-field>
          <mat-label for="first-name">Telefon: </mat-label>
          <input matInput id="phone" type="text" formControlName="phone">
        </mat-form-field>

        <mat-form-field>
          <mat-label for="first-name">Email: </mat-label>
          <input matInput id="email" type="text" formControlName="email">
        </mat-form-field>
        <button mat-raised-button color="primary" class="button" type="submit" (click)="onSubmit()">Wyślij</button>
    </form>
  </div>
  
  <div class="form-img">
    <img src="../../../assets/reception.jpg" alt="contact-us">
  </div>
</div>
