<article class="first-section">
    <div class="motivation-container">
        <div>Cel</div>
        <div>Determinacja</div>
        <div>Siła</div>
        <div>Satysfakcja</div>
    </div>
</article>
<article class="icon-container">

    <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="fitness_center"></mat-icon>
        <p>Trening</p>
    </div>
    <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="run_circle"></mat-icon>
        <p>CrossFit</p>
    </div>
    <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="directions_bike"></mat-icon>
        <p>Dieta</p>
    </div>
    <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="run_circle"></mat-icon>
        <p>FatBurn</p>
    </div>
</article>