@import "./.././../../variables.scss";
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:$silver;
}
header {
    ul { 
    display: flex;
        li {
            list-style: none;
            display: inline-block;
            padding: 0 20px;
       a {
        text-decoration: none;
        color:$white;
       }
       a:hover {
        color: $grey;
       }
}
    }
}
.mobile {
    display: none;
    background: $grey;
    img {
        width: 60px;
        height: 48px;
        margin: 0 auto;
    }
    @media (max-width: 425px) {
        display: flex;
     }
}
.desktop {
    @media (max-width: 425px) {
        display: none;
     }
}
