<h2>O mnie</h2>
<article class="second-section">
   <section class="about-img">
    <img src="../../assets/bg-main-big.jpg" alt="">
   </section>
   <section class="about-txt">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus consectetur elit, non finibus est porttitor nec. Etiam scelerisque, sapien eu varius malesuada, mi neque vehicula nisl, a blandit ipsum dolor ac erat. Aliquam cursus viverra vestibulum. Aliquam ullamcorper diam sem, dapibus pharetra dolor tempus at. Ut et eros urna. Aliquam consectetur, odio sit amet consequat vulputate, sem diam consectetur elit, vel blandit erat libero a nisi. Aliquam pretium nisi eros. Curabitur rutrum faucibus nibh, eget vestibulum eros condimentum ac. In ornare mauris orci. Phasellus ullamcorper mattis diam a eleifend.
      Donec porta condimentum augue ac aliquet. Duis elementum id lacus eu mollis. Nunc volutpat lorem a risus laoreet elementum. Donec accumsan auctor erat, ac pharetra enim fringilla et. In posuere lectus nisi, sed congue diam rhoncus ut. Mauris tincidunt diam sit amet urna faucibus, ut dictum neque ullamcorper. Phasellus ac fermentum elit. Nunc laoreet commodo turpis id euismod. Vestibulum ac tellus hendrerit nunc luctus dapibus sit amet at sem.</p>
   </section>

</article>