<footer>

    <div class="footer-container">
        <img src="../../assets/logo.png" alt="logo">
        <div class="social">
            <div>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
                <span>654023447</span>
            </div>
            <div>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
                <a href="#">www.PowerFitness.pl</a>
            </div>
        </div>
    </div>

</footer>